<ul class="nav flex-column">
    <li class="nav-item" >
    <a class="nav-link active" aria-current="page" href="/src/Pages/admin/home/index.html" id="home">首页</a>
    </li>
    <li>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" id="clearUserpart">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#userManage" aria-expanded="true" aria-controls="flush-collapseOne" id="user-manange">
                    用户管理
                    </button>
                </h2>
                <div id="userManage" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/src/Pages/admin/usermanage/adduser/index.html" id="adduser">添加用户</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/src/Pages/admin/usermanage/userlist/index.html" id="userlist">用户列表</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#newsManage" aria-expanded="true" aria-controls="flush-collapseTwo" id="nes-manange">
                新闻管理
                </button>
            </h2>
            <div id="newsManage" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/src/Pages/admin/newsmanage/addnews/index.html" id="addnews">添加新闻</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/src/Pages/admin/newsmanage/newslist/index.html" id="newslist">新闻列表</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
    </li>
</ul>

